* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f9ff;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  grid-gap: 15px; 
  align-content:center;
}

#clock_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  #up, #down {
    font-size: 10vh;
    font-weight: 1000;
    margin-left: 5vh;
    margin-right: 5vh;

  }
}

#time {
  color: #153047;
  margin: 0;
  padding: 0;
  height: 18vh;
  line-height: 18vh;
  width: auto;
  text-align: center;
}

#clock {
  font-family: "Lato", sans-serif;
  font-size: 20vh;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  /* margin-top: 12vh; */
}


#button_sr {
  font-family: "Lato", sans-serif;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 10vh;
  margin-right: 10vh;
  color: #153047;
  /* #start, #reset {
    margin-top: 4vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-width: thin;
    border-style: solid;
    border-color: #8bcaff;
    background-color: #8bcaff;
    border-radius: 12px;
    width: 12vh;
    height: 8vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  } */
}

/* #start, #stop {
  font-size: 5vh;
  margin-top: 4vh;
  margin-left: 4vh;
  margin-right: 2vh;
  border-width: thin;
  border-style: solid;
  border-color: #8bcaff;
  background-color: #8bcaff;
  border-radius: 12px;
  width: 12vh;
  height: 8vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-left: 15vh;
} */

#start_btn{
  width: 15vh;
  display: flex; 
}

#reset_btn {
  width: 8vh;
  display: flex; 
}

/* #reset {
  font-size: 2.5vh;
  margin-top: 4vh;
  margin-left: 2vh;
  margin-right: 2vh;
  border-width: thin;
  border-style: solid;
  border-color: #8bcaff;
  background-color: #8bcaff;
  border-radius: 12px;
  width: 6vh;
  height: 4vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
} */

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
